:root {
    --grey1100: 26, 28, 32;
    --grey1000: 42, 46, 52;
    --grey900: 48, 53, 60;
    --grey800: 60, 65, 74;
    --grey700: 79, 87, 98;
    --grey600: 101, 111, 125;
    --grey500: 135, 144, 158;
    --grey400: 173, 179, 189;
    --grey300: 214, 217, 222;
    --grey200: 232, 234, 237;
    --grey100: 240, 241, 243;
    --grey50: 247, 248, 249;
    --grey25: 251, 251, 252;
    --white: 255, 255, 255;
    --purple1100: 50, 52, 82;
    --purple1000: 59, 58, 112;
    --purple900: 67, 65, 141;
    --purple800: 76, 71, 171;
    --purple700: 84, 77, 201;
    --purple600: 95, 85, 238;
    --purple500: 127, 119, 241;
    --purple400: 153, 146, 244;
    --purple300: 178, 173, 247;
    --purple200: 204, 201, 250;
    --purple100: 229, 228, 252;
    --purple50: 242, 241, 254;
    --neonBlue1100: 46, 55, 84;
    --neonBlue1000: 50, 64, 117;
    --neonBlue900: 54, 73, 149;
    --neonBlue800: 59, 82, 182;
    --neonBlue700: 63, 91, 214;
    --neonBlue600: 68, 102, 255;
    --neonBlue500: 105, 133, 255;
    --neonBlue400: 135, 157, 255;
    --neonBlue300: 165, 182, 255;
    --neonBlue200: 195, 206, 255;
    --neonBlue100: 225, 231, 255;
    --neonBlue50: 240, 243, 255;
    --azureBlue1100: 38, 62, 80;
    --azureBlue1000: 34, 77, 107;
    --azureBlue900: 30, 93, 135;
    --azureBlue800: 25, 109, 162;
    --azureBlue700: 21, 124, 190;
    --azureBlue600: 16, 144, 224;
    --azureBlue500: 64, 166, 230;
    --azureBlue400: 102, 184, 235;
    --azureBlue300: 140, 202, 240;
    --azureBlue200: 179, 220, 245;
    --azureBlue100: 217, 237, 250;
    --azureBlue50: 236, 246, 253;
    --teal1100: 38, 64, 69;
    --teal1000: 33, 82, 86;
    --teal900: 29, 99, 103;
    --teal800: 25, 117, 120;
    --teal700: 20, 135, 138;
    --teal600: 15, 157, 159;
    --teal500: 63, 177, 178;
    --teal400: 101, 192, 194;
    --teal300: 140, 208, 209;
    --teal200: 178, 224, 224;
    --teal100: 217, 239, 240;
    --teal50: 231, 245, 245;
    --mint1100: 45, 68, 66;
    --mint1000: 48, 90, 80;
    --mint900: 51, 112, 94;
    --mint800: 54, 134, 108;
    --mint700: 57, 156, 122;
    --mint600: 61, 184, 139;
    --mint500: 100, 198, 162;
    --mint400: 131, 209, 181;
    --mint300: 162, 221, 199;
    --mint200: 193, 232, 218;
    --mint100: 224, 244, 236;
    --mint50: 240, 249, 246;
    --green1100: 35, 60, 55;
    --green1000: 29, 75, 57;
    --green900: 22, 89, 60;
    --green800: 15, 104, 62;
    --green700: 8, 118, 65;
    --green600: 0, 136, 68;
    --green500: 51, 160, 105;
    --green400: 92, 179, 135;
    --green300: 133, 198, 165;
    --green200: 173, 217, 195;
    --green100: 214, 236, 225;
    --green50: 235, 245, 240;
    --yellow1100: 75, 66, 44;
    --yellow1000: 108, 87, 35;
    --yellow900: 141, 107, 27;
    --yellow800: 174, 128, 19;
    --yellow700: 207, 148, 10;
    --yellow600: 248, 174, 0;
    --yellow500: 249, 190, 51;
    --yellow400: 251, 203, 92;
    --yellow300: 252, 216, 133;
    --yellow200: 253, 229, 173;
    --yellow100: 254, 242, 214;
    --yellow50: 254, 249, 235;
    --orange1100: 71, 56, 47;
    --orange1000: 101, 66, 42;
    --orange900: 130, 75, 38;
    --orange800: 159, 85, 33;
    --orange700: 188, 95, 28;
    --orange600: 225, 107, 22;
    --orange500: 231, 137, 69;
    --orange400: 236, 160, 106;
    --orange300: 241, 184, 143;
    --orange200: 245, 208, 180;
    --orange100: 250, 231, 218;
    --orange50: 253, 243, 236;
    --red1100: 69, 48, 55;
    --red1000: 96, 51, 57;
    --red900: 123, 53, 60;
    --red800: 150, 55, 62;
    --red700: 177, 58, 65;
    --red600: 211, 61, 68;
    --red500: 220, 100, 106;
    --red400: 227, 131, 136;
    --red300: 234, 162, 165;
    --red200: 241, 193, 195;
    --red100: 248, 224, 225;
    --red50: 252, 239, 240;
    --pink1100: 73, 54, 68;
    --pink1000: 105, 61, 84;
    --pink900: 136, 69, 100;
    --pink800: 167, 77, 117;
    --pink700: 199, 84, 133;
    --pink600: 238, 94, 153;
    --pink500: 241, 126, 173;
    --pink400: 244, 152, 190;
    --pink300: 247, 178, 206;
    --pink200: 250, 204, 222;
    --pink100: 252, 229, 239;
    --pink50: 254, 242, 247;
    --violet1100: 64, 54, 80;
    --violet1000: 87, 62, 107;
    --violet900: 109, 70, 135;
    --violet800: 132, 78, 162;
    --violet700: 154, 86, 190;
    --violet600: 182, 96, 224;
    --violet500: 197, 128, 230;
    --violet400: 208, 153, 235;
    --violet300: 220, 179, 240;
    --violet200: 232, 204, 245;
    --violet100: 243, 230, 250;
    --violet50: 249, 242, 253;
    --brown1100: 62, 61, 64;
    --brown1000: 83, 76, 76;
    --brown900: 103, 92, 88;
    --brown800: 124, 107, 101;
    --brown700: 144, 121, 113;
    --brown600: 170, 141, 128;
    --brown500: 187, 163, 153;
    --brown400: 201, 182, 174;
    --brown300: 214, 200, 194;
    --brown200: 228, 219, 214;
    --brown100: 241, 237, 235;
    --brown50: 248, 246, 245;
    --black1100: 0, 0, 0;
    --black1000: 10, 11, 13;
    --black900: 19, 21, 26;
    --black800: 29, 32, 38;
    --black700: 38, 42, 51;
    --black600: 48, 53, 64;
    --black500: 89, 93, 102;
    --black400: 123, 126, 133;
    --black300: 156, 158, 163;
    --black200: 189, 190, 194;
    --black100: 222, 223, 224;
    --black50: 238, 239, 240;
    --color-grey1100: rgb(var(--grey1100));
    --color-grey1000: rgb(var(--grey1000));
    --color-grey1000-90: rgb(var(--grey1000), 0.9);
    --color-grey1000-70: rgb(var(--grey1000), 0.7);
    --color-grey1000-50: rgb(var(--grey1000), 0.5);
    --color-grey1000-20: rgb(var(--grey1000), 0.2);
    --color-grey1000-16: rgb(var(--grey1000), 0.16);
    --color-grey1000-10: rgb(var(--grey1000), 0.1);
    --color-grey900-90: rgb(var(--grey900), 0.9);
    --color-grey900: rgb(var(--grey900));
    --color-grey800: rgb(var(--grey800));
    --color-grey700: rgb(var(--grey700));
    --color-grey600: rgb(var(--grey600));
    --color-grey500: rgb(var(--grey500));
    --color-grey400: rgb(var(--grey400));
    --color-grey300: rgb(var(--grey300));
    --color-grey200: rgb(var(--grey200));
    --color-grey100: rgb(var(--grey100));
    --color-grey100-50: rgb(var(--grey100), 0.5);
    --color-grey100-20: rgb(var(--grey100), 0.2);
    --color-grey100-16: rgb(var(--grey100), 0.16);
    --color-grey100-10: rgb(var(--grey100), 0.1);
    --color-grey50: rgb(var(--grey50));
    --color-grey25: rgb(var(--grey25));
    --color-white: rgb(var(--white));
    --color-white-90: rgb(var(--white), 0.9);
    --color-white-80: rgb(var(--white), 0.8);
    --color-white-70: rgb(var(--white), 0.7);
    --color-white-50: rgb(var(--white), 0.5);
    --color-white-20: rgb(var(--white), 0.2);
    --color-white-16: rgb(var(--white), 0.16);
    --color-white-10: rgb(var(--white), 0.1);
    --color-green1100: rgb(var(--green1100));
    --color-green1000: rgb(var(--green1000));
    --color-green900: rgb(var(--green900));
    --color-green800: rgb(var(--green800));
    --color-green700: rgb(var(--green700));
    --color-green600: rgb(var(--green600));
    --color-green500: rgb(var(--green500));
    --color-green400: rgb(var(--green400));
    --color-green300: rgb(var(--green300));
    --color-green200: rgb(var(--green200));
    --color-green100: rgb(var(--green100));
    --color-green50: rgb(var(--green50));
    --color-yellow1100: rgb(var(--yellow1100));
    --color-yellow1000: rgb(var(--yellow1000));
    --color-yellow900: rgb(var(--yellow900));
    --color-yellow800: rgb(var(--yellow800));
    --color-yellow700: rgb(var(--yellow700));
    --color-yellow600: rgb(var(--yellow600));
    --color-yellow500: rgb(var(--yellow500));
    --color-yellow400: rgb(var(--yellow400));
    --color-yellow300: rgb(var(--yellow300));
    --color-yellow200: rgb(var(--yellow200));
    --color-yellow100: rgb(var(--yellow100));
    --color-yellow50: rgb(var(--yellow50));
    --color-red1100: rgb(var(--red1100));
    --color-red1000: rgb(var(--red1000));
    --color-red900: rgb(var(--red900));
    --color-red800: rgb(var(--red800));
    --color-red700: rgb(var(--red700));
    --color-red600: rgb(var(--red600));
    --color-red600-16: rgb(var(--red600), 0.16);
    --color-red500: rgb(var(--red500));
    --color-red500-16: rgb(var(--red500), 0.16);
    --color-red400: rgb(var(--red400));
    --color-red300: rgb(var(--red300));
    --color-red200: rgb(var(--red200));
    --color-red100: rgb(var(--red100));
    --color-red50: rgb(var(--red50));
    --color-purple1100: rgb(var(--purple1100));
    --color-purple1000: rgb(var(--purple1000));
    --color-purple900: rgb(var(--purple900));
    --color-purple800: rgb(var(--purple800));
    --color-purple700: rgb(var(--purple700));
    --color-purple600: rgb(var(--purple600));
    --color-purple600-16: rgb(var(--purple600), 0.16);
    --color-purple500: rgb(var(--purple500));
    --color-purple500-16: rgb(var(--purple500), 0.16);
    --color-purple400: rgb(var(--purple400));
    --color-purple300: rgb(var(--purple300));
    --color-purple200: rgb(var(--purple200));
    --color-purple100: rgb(var(--purple100));
    --color-purple50: rgb(var(--purple50));
    --color-neonBlue1100: rgb(var(--neonBlue1100));
    --color-neonBlue1000: rgb(var(--neonBlue1000));
    --color-neonBlue900: rgb(var(--neonBlue900));
    --color-neonBlue800: rgb(var(--neonBlue800));
    --color-neonBlue700: rgb(var(--neonBlue700));
    --color-neonBlue600: rgb(var(--neonBlue600));
    --color-neonBlue600-16: rgb(var(--neonBlue600), 0.16);
    --color-neonBlue500: rgb(var(--neonBlue500));
    --color-neonBlue500-16: rgb(var(--neonBlue500), 0.16);
    --color-neonBlue400: rgb(var(--neonBlue400));
    --color-neonBlue300: rgb(var(--neonBlue300));
    --color-neonBlue200: rgb(var(--neonBlue200));
    --color-neonBlue100: rgb(var(--neonBlue100));
    --color-neonBlue50: rgb(var(--neonBlue50));
    --color-azureBlue1100: rgb(var(--azureBlue1100));
    --color-azureBlue1000: rgb(var(--azureBlue1000));
    --color-azureBlue900: rgb(var(--azureBlue900));
    --color-azureBlue800: rgb(var(--azureBlue800));
    --color-azureBlue700: rgb(var(--azureBlue700));
    --color-azureBlue600: rgb(var(--azureBlue600));
    --color-azureBlue600-16: rgb(var(--azureBlue600), 0.16);
    --color-azureBlue500: rgb(var(--azureBlue500));
    --color-azureBlue500-16: rgb(var(--azureBlue500), 0.16);
    --color-azureBlue400: rgb(var(--azureBlue400));
    --color-azureBlue300: rgb(var(--azureBlue300));
    --color-azureBlue200: rgb(var(--azureBlue200));
    --color-azureBlue100: rgb(var(--azureBlue100));
    --color-azureBlue50: rgb(var(--azureBlue50));
    --color-teal1100: rgb(var(--teal1100));
    --color-teal1000: rgb(var(--teal1000));
    --color-teal900: rgb(var(--teal900));
    --color-teal800: rgb(var(--teal800));
    --color-teal700: rgb(var(--teal700));
    --color-teal600: rgb(var(--teal600));
    --color-teal600-16: rgb(var(--teal600), 0.16);
    --color-teal500: rgb(var(--teal500));
    --color-teal500-16: rgb(var(--teal500), 0.16);
    --color-teal400: rgb(var(--teal400));
    --color-teal300: rgb(var(--teal300));
    --color-teal200: rgb(var(--teal200));
    --color-teal100: rgb(var(--teal100));
    --color-teal50: rgb(var(--teal50));
    --color-mint1100: rgb(var(--mint1100));
    --color-mint1000: rgb(var(--mint1000));
    --color-mint900: rgb(var(--mint900));
    --color-mint800: rgb(var(--mint800));
    --color-mint700: rgb(var(--mint700));
    --color-mint600: rgb(var(--mint600));
    --color-mint600-16: rgb(var(--mint600), 0.16);
    --color-mint500: rgb(var(--mint500));
    --color-mint500-16: rgb(var(--mint500), 0.16);
    --color-mint400: rgb(var(--mint400));
    --color-mint300: rgb(var(--mint300));
    --color-mint200: rgb(var(--mint200));
    --color-mint100: rgb(var(--mint100));
    --color-mint50: rgb(var(--mint50));
    --color-orange1100: rgb(var(--orange1100));
    --color-orange1000: rgb(var(--orange1000));
    --color-orange900: rgb(var(--orange900));
    --color-orange800: rgb(var(--orange800));
    --color-orange700: rgb(var(--orange700));
    --color-orange600: rgb(var(--orange600));
    --color-orange600-16: rgb(var(--orange600), 0.16);
    --color-orange500: rgb(var(--orange500));
    --color-orange500-16: rgb(var(--orange500), 0.16);
    --color-orange400: rgb(var(--orange400));
    --color-orange300: rgb(var(--orange300));
    --color-orange200: rgb(var(--orange200));
    --color-orange100: rgb(var(--orange100));
    --color-orange50: rgb(var(--orange50));
    --color-pink1100: rgb(var(--pink1100));
    --color-pink1000: rgb(var(--pink1000));
    --color-pink900: rgb(var(--pink900));
    --color-pink800: rgb(var(--pink800));
    --color-pink700: rgb(var(--pink700));
    --color-pink600: rgb(var(--pink600));
    --color-pink600-16: rgb(var(--pink600), 0.16);
    --color-pink500: rgb(var(--pink500));
    --color-pink500-16: rgb(var(--pink500), 0.16);
    --color-pink400: rgb(var(--pink400));
    --color-pink300: rgb(var(--pink300));
    --color-pink200: rgb(var(--pink200));
    --color-pink100: rgb(var(--pink100));
    --color-pink50: rgb(var(--pink50));
    --color-violet1100: rgb(var(--violet1100));
    --color-violet1000: rgb(var(--violet1000));
    --color-violet900: rgb(var(--violet900));
    --color-violet800: rgb(var(--violet800));
    --color-violet700: rgb(var(--violet700));
    --color-violet600: rgb(var(--violet600));
    --color-violet600-16: rgb(var(--violet600), 0.16);
    --color-violet500: rgb(var(--violet500));
    --color-violet500-16: rgb(var(--violet500), 0.16);
    --color-violet400: rgb(var(--violet400));
    --color-violet300: rgb(var(--violet300));
    --color-violet200: rgb(var(--violet200));
    --color-violet100: rgb(var(--violet100));
    --color-violet50: rgb(var(--violet50));
    --color-brown1100: rgb(var(--brown1100));
    --color-brown1000: rgb(var(--brown1000));
    --color-brown900: rgb(var(--brown900));
    --color-brown800: rgb(var(--brown800));
    --color-brown700: rgb(var(--brown700));
    --color-brown600: rgb(var(--brown600));
    --color-brown600-16: rgb(var(--brown600), 0.16);
    --color-brown500: rgb(var(--brown500));
    --color-brown500-16: rgb(var(--brown500), 0.16);
    --color-brown400: rgb(var(--brown400));
    --color-brown300: rgb(var(--brown300));
    --color-brown200: rgb(var(--brown200));
    --color-brown100: rgb(var(--brown100));
    --color-brown50: rgb(var(--brown50));
    --color-black1100: rgb(var(--black1100));
    --color-black1000: rgb(var(--black1000));
    --color-black900: rgb(var(--black900));
    --color-black800: rgb(var(--black800));
    --color-black700: rgb(var(--black700));
    --color-black600: rgb(var(--black600));
    --color-black600-16: rgb(var(--black600), 0.16);
    --color-black500: rgb(var(--black500));
    --color-black500-16: rgb(var(--black500), 0.16);
    --color-black400: rgb(var(--black400));
    --color-black300: rgb(var(--black300));
    --color-black200: rgb(var(--black200));
    --color-black100: rgb(var(--black100));
    --color-black50: rgb(var(--black50));

    --primary: #6666d0;
    --color-primary: var(--primary);

    --secondary: #8181d6;
    --color-secondary: var(--primary);
}
